-if(error = "empty")
  %div
    Empty username or password
-if(error = "wrong")
  %div
    Wrong login

%div
  %h1 Login
  %form( action="/login" method="POST" )
    %label
      Username
      %input(type="text" name="username")
    %label
      %br
      Password
      %input(type="password" name="password")
      %br
    %input(type="submit" text="submit" value="Login")